
img[src*="/images/figures/"] {
    float: right;
    margin: 1em;
    border: black solid 1px;
    max-width: 40%;
}

pre {
    max-width: 90vw;
    margin-left: 5vh;
    max-height: 70vh;
    overflow: auto;
    padding: .5em;
    border: black solid 1px;
    background: #333333;
    color: white;
}



.slidesetter {
    display: inline-block;
    position: relative;
    padding: .5em;
    margin: .2em;
    background: #ccccff;
    border: groove;
    font-size: x-large;
}


body {
    margin-bottom: 90px;
}
.controlButtons {
    display: grid;
    grid-template-columns: 1fr 1fr .2fr 1fr 1fr;
    background: #cccccc;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    margin:0px;
    margin-left: -.5em;


}

.buttom, .button:link, .button:visited {
    color: black;
    background: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

