
@import '../../node_modules/normalize.css/normalize';

:root {
  box-sizing: border-box;

  font-size: calc(12px + 1vw);
  font-size: calc(12px + 1vmin);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  width: 100vw;
  height: 100vh;
  margin: 0px;
}

a {
  color: #00B7FF;
}


.slide {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: white;
    padding: 2em;

    display: none;
    align-items: center;
    justify-content: center;

    &.current {
        display:block;
        display: flex;
    };

    h1, h2, h3, h4, h5 {
        text-shadow: 2px 2px 5px grey;
        text-align: center;
    }
    font-size: 1.2rem;
    h1 { font-size: 4.5rem !important; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 1.4rem; }
    



    table {
        border-collapse: separate;
        border-spacing: 15px;
    }


    td, th {
        padding: .6em;
        vertical-align: top;
        box-shadow: 4px 4px 5px grey;
    }
    th {
        background: #ccccdd;
        vertical-align: bottom;
        &.lateral {
            min-width: 30%;
            vertical-align: middle;
        }
    }
    td {
        background: #eeeeee;
        &:first-letter, & p:first-letter {
            font-size: 1.3em;
        }
    }

    img.big {
        width: 80vh;
        width: 80vmin;
    }
}

