
img[src*="/Figures/"] {
    float: right;
    margin: 1em;
    border: black solid 1px;
    max-width: 40%;
}

pre {
    max-width: 90vw;
    margin-left: 5vh;
    max-height: 70vh;
    overflow: auto;
    padding: .5em;
    border: black solid 1px;
    background: #333333;
    color: white;
};
