
.slide(data-name="css_autoprefixer")
  div.bigfont
    h2.step.title Autoprefixer

    p.step.
      Els #[i Vendor Prefixes] son prefixs tipus "-webkit-" (Chrome,
      Safari...), "-moz-" (Firefox), etc... que posats al davant d'una
      propietat (o també alguns valors), componen un nom específic de la
      propietat que aquell navegador reconeixia, a títol experimental, abans de
      que dita característica fos definitivament estandarditzada.

    p.step.
      L'#[i Autoprefixer] és un preprocessador que agafa el nostre full d'estil
      original i hi afegeix automàticament totes aquestes declaracions
      addicionals per nosaltres.

    p.moreinfo.step https://github.com/postcss/autoprefixer


//- vim: set ft=jade:
