

.slide.bigfont(data-name="moreCSS")
  div

    h3.step.title Més de CSS

    ul
      li.step
        span Marges
        ul
          li.step Marges Negatius
          li.step Marges Col·lapsats
      li.step Comptadors
      li.step CSS Modular


//- vim: set ft=jade:
