
.slide(data-name="css_start")
  div
    h1 CSS(3)

.slide(data-name="nomenclatura_css")
  div
    h2 CSS(3)
    h3.step Nomenclatura

    p.center.step.fade
      img.big(src="/images/figures/NomenclaturaCSS.png")


//- vim: set ft=jade:
