
.slide(data-name="css_start")
  div
    h1 CSS(3)

.slide(data-name="nomenclatura_css")
  div
    h2 CSS(3)
    h3 Nomenclatura

    p.center
      img.big(src="/apunts/Figures/NomenclaturaCSS.png")


//- vim: set ft=jade:
