
.slide.bigfont(data-name="exercici_1")
  div

    h2.step.title Exercici 1

    div.step
      p.
        Redactar una carta de presentació, estil currículum en HTML5. Ha de
        contenir com a mínim:

      ul
        li El vostre nom i llinatges.
        li.
          Els vostres coneixements i experiència en HTML i/o altres
          tecnologies.
        li Motiu que vos ha impulsat a fer aquest curs.

      p.
        Heu d'aplicar el que heu après fins ara. Però podeu anar més enllà si
        en sabeu (incloure una fotografia, aplicar estils, etcètera...).

//- vim: set ft=jade:
