
.slide.bigfont(data-name="exercici_3")
  div

    h2.step.title Exercici 3
    div

      ol
        li.step.
          Implementau un menú "popup" com el de l'exercici anterior. Però que
          en aquest cas calgui fer click sobre l'etiqueta per obrir-lo o
          tancar-lo.
        li.step
          span.
            #[b (Opcionalment)] Ajustau els colors de la pàgina i el menú fent
            servir variables css.
          ul.medium
            li.
              Ajustau aquestes variables al selector #[code.code body].
            li.
              Modificau el menú de manera que les opcions estableixin un valor
              a la propietat "data-theme" de l'element "body" (feu servir
              jQuery).
            li.
              Feu servir aquesta propietat al CSS per definir distints colors
              segons el tema seleccionat.


//- vim: set ft=jade:
