
.slide.bigfont(data-name="exercici_2")
  div.medium

    h2.step.title Exercici 2
    div.step
      p Donat el següent markup (Pug):
      pre.code.frame.
        div.menu
          label Opcions
          ul
            li 
              a(href="#") Opció 1
            li
              a(href="#") Opció 2
            li
              a(href="#") Opció 3
            li
              a(href="#") Opció 4
      p.
        Implementar el CSS necessari per convertir-lo en un "popup". Això és:
      ul
        li.
          La llista (ul) ha d'estar oculta inicialment.
        li.
          En passar el ratolí per sobre de l'etiqueta, ha d'aparèixer la
          llista.
        li.
          Si el ratolí surt de l'àrea del menú aquest es torna ocultar.
        li.
          Quan el ratolí passa per sobre d'una de les opcions, aquesta es
          ressalta amb un color de fons distint.
      p.
        Provau a afegir contingut després del menú (per exemple un paràgraf de
        text).  Què passa en desplegar el menú?

//- vim: set ft=jade:
