
.slide.bigfont(data-name="html5_is_here")
  div


    h2
      span HTML
      img.inline(src="/images/html5.png")

    table
      tr
        th HTML 5
        td
          code='<!DOCTYPE HTML>'


//- vim: set ft=jade:
