
.slide(data-name="intro")
  div
    h2 Introducció
    h3 Benvinguts al curs d'HTML5
    ul
      li.step Aquest és un curs avançat.
      li.step Es pressuposen uns mínims coneixements previs d'HTML, CSS i Javascript.
      li.step Primer de tot farem un breu repàs als conceptes més importants.


.slide(data-name="intro_ask")
  div
    h2 Un petit truc per seguir el curs:
    h3.step Si hi ha res que no enteneu...
    h1.step PREGUNTAU!!

.slide(data-name="planificacio")
  div
    h2.step.title Planificació del Curs

    table
      tr.step
        th Dia 
        th Horari
        th Unitat Didàctica
        th Aula
      tr.step
        td.code Dj 15/11/2018 
        td.code 17:00 - 20:00 (3h)
        td.code UD01 - Introducció a HTML5, CSS i preprocessadors (3h)
        td.code 14
      tr.step
        td.code Dm 20/11/2018
        td.code 16:30 - 20:00 (3.5h)
        td.code UD02 - Conceptes Bàsics
        td.code 14
      tr.step
        td.code Dj 22/11/2018
        td.code 16:30 - 20:00 (3.5h)
        td.code UD03 - Posicionament, Ancoratge i Components CSS
        td.code 14
      tr.step
        td.code Dm 27/11/2018
        td.code 17:00 - 20:00 (3h)
        td.code UD04 - CSS Maquetació i Programació Asíncrona
        td.code 12
      tr.step
        td.code Dj 29/11/2018
        td.code 16:30 - 20:00 (3.5h)
        td.code UD05 - Estètica, Frameworks i APIs HTML5
        td.code 14
      tr.step
        td.code Dm 04/12/2018
        td.code 16:30 - 20:00 (3.5h)
        td.code UD06 - Projecte Final
        td.code 14


//- vim: set ft=jade:
