
.slide(data-name="intro")
  div
    h2 Introducció
    h3 Benvinguts al curs d'HTML5
    ul
      li Aquest és un curs avançat.
      li Es pressuposen uns mínims coneixements previs d'HTML, CSS i Javascript.
      li Primer de tot farem un breu repàs als conceptes més importants.


.slide(data-name="intro_ask")
  div
    h2 Un petit truc per seguir el curs:
    h3 Si hi ha res que no enteneu...
    h1 PREGUNTAU!!


//- vim: set ft=jade:
