
.slide(data-name="intro")
  div
    h2 Introducció
    h3 Benvinguts al curs d'HTML5
    ul
      li.step Aquest és un curs avançat.
      li.step Es pressuposen uns mínims coneixements previs d'HTML, CSS i Javascript.
      li.step Primer de tot farem un breu repàs als conceptes més importants.


.slide(data-name="intro_ask")
  div
    h2 Un petit truc per seguir el curs:
    h3.step Si hi ha res que no enteneu...
    h1.step PREGUNTAU!!


//- vim: set ft=jade:
