
.slide(data-name="pseudoclass_selectors_0")
  div
    h2 Pseudo-class Selectors

    p.
      Pseudo-class selectors are used to target elements when they’re in a certain
      state.
    p.
      This state can be due to user interaction or the element’s position in
      relation to its parent or sibling elements in the document.
    p.
      Pseudo-class selectors always begin with a colon (:). These have the same
      specificity as a class selector (0,1,0).

//- vim: set ft=jade:

