
.slide
  div
    h2 General Pseudo-class Selectors (3)

    table
      tr
        th
          code.
            :not(<selector>)
        td.
          —Targets elements that don’t match the selector within the
          parentheses. The selector inside the parentheses must be simple: it can
          only refer to the element itself; you can’t use this selector to exclude
          ancestors. It also mustn’t contain another negation selector.
      tr
        th
          code.
            :empty
        td.
          —Targets elements that have no children. Beware that this doesn’t
          target an element that contains whitespace as the whitespace is represented
          in the DOM as a text node child. At the time of writing, the W3C is
          considering a ":blank" pseudo-class that behaves similarly but also selects
          elements that contain only whitespace; ":blank" is not yet supported in any
          browser.

//- vim: set ft=jade:
