
.slide
  div
    h2 General Pseudo-class Selectors (4)

    table
      tr
        th
          code.
            :focus
        td.
          —Targets elements that have received focus, whether from a mouse
          click, screen tap, or Tab key navigation.
      tr
        th
          code.
            :hover
        td.
          —Targets elements while the mouse cursor hovers over them.
      tr
        th
          code.
            :root
          td.
              —Targets the root element of the document. In HTML, this is the
              "<html>" element. But CSS can be applied to other XML or XML-like
              documents, such as SVG; in which case, this selector works more
              generically.


//- vim: set ft=jade:
