extends layout

block content
  .slide.current
    div
      h1 HTML 5
      h2 Curs avançat d'HTML5 i CSS de l'EBAP
      h3 Benvinguts!
  include slides/intro
  .slide(data-name="ud01")
    div
      h2.step.title UD01 - Introducció a HTML5, CSS i eines de preprocessat
  include slides/abans
  include slides/html5
  include slides/forms
  include slides/js_intro
  include slides/exercici_1
  include slides/entorn_treball

  .slide(data-name="ud02")
    div
      h2.step.title UD02 - Conceptes Bàsics
  include slides/css_intro
  include slides/css_selectors_psclass
  include slides/css_selectors_psclass_form
  include slides/css_selectors_pselements
  include slides/css_selectors_attr
  include slides/css_autoprefixer
  include slides/exercici_2
  include slides/css_cascade
  include slides/css_vars_and_more
  include slides/jquery
  include slides/exercici_3


  .slide(data-name="ud03")
    div
      h2.step.title UD03 - CSS Posicionament i Ancoratge
  include slides/css_posicionament
  include slides/css_marges_i_mes


  .slide(data-name="ud04")
    div
      h2.step.title UD04 - CSS Maquetació
  include slides/css_float
  include slides/css_flexbox

  .slide(data-name="ud05")
    div
      h2.step.title UD05 - CSS Aspecte i Efectes
  include slides/html5_apis

  .slide(data-name="ud06")
    div
      h2.step.title UD06 - Projecte Final

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/primus/primus.js")
  script(src="/javascripts/slide_controller.js")

//- vim: set ft=jade:
