extends layout

block content
  .slide.current
    div
      h1 HTML 5
      h2 Curs avançat d'HTML5 i CSS de l'EBAP
      h3 Benvinguts!
  include slides/intro
  include slides/abans
  include slides/html5
  include slides/js_intro

  include slides/css_intro
  include slides/css_selectors_psclass
  include slides/css_selectors_psclass_form
  include slides/css_selectors_pselements
  include slides/html5_apis


  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/primus/primus.js")
  script(src="/javascripts/slide_controller.js")

//- vim: set ft=jade:
