extends layout

block content
  .slide.current
    div
      h1 HTML 5
      h2 Curs avançat d'HTML5 i CSS de l'EBAP
      h3 Benvinguts!
  include slides/nomenclatura_css
  include slides/pseudoClass_selectors
  include slides/pseudoClass_selectors_general_1
  include slides/pseudoClass_selectors_general_2
  include slides/pseudoClass_selectors_general_3
  include slides/pseudoClass_selectors_general_4


  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/primus/primus.js")
  script(src="/javascripts/slide_controller.js")

//- vim: set ft=jade:
